.board {
  margin-bottom: 50px;  
}

/* 메인 이미지 */
.board_image {
    width: 100%;
    height: 25vh;
    background: url("/img/board_main.jpg") center center no-repeat;
    text-align: center;
    /* background: linear-gradient(45deg, #002ef0 0%, rgba(116, 15, 214, 0.9) 100%), url(/images/hero-bg.jpg) center center no-repeat; */
    background-size: cover;
    /* filter: blur(1px); */
  /* -webkit-filter: blur(8px) */
    margin-bottom : 50px;

}

.board_image_p {
  color: white; 
  text-shadow: black 12px 0px 3px;
  font-size: 80px; 
  padding-top: 120px; 
  font-weight: bold;
}

/* 메인 이미지에 들어갈 텍스트 */
.board_total_p {
  font-size: 30px;
}

/* 카테고리 박스 */
.board_category {
  margin: 10px 0 30px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
}

/* 카테고리 전부 보기 */
.home_icon {
  width: 30px;
  padding: 10px 0;
  cursor: pointer;
}
/* 각각의 카테고리를 담은 박스 */
.menu_box {
  margin-top: 4px;
  text-align: right;
}

/* 1번째 게시글 유형 */
.menu_icon_1 {
  border : 1px solid black;
  /* border-right : 1px solid white; */
  border-radius: 5px 0px 0px 5px;
  width: 40px;
  padding: 5px;
  cursor: pointer;
}

/* 2번째 게시글 유형 */
.menu_icon_2 {
  border : 1px solid black;
  width: 40px;
  padding: 5px;
  cursor: pointer;
}

/* 3번째 게시글 유형 */
.menu_icon_3 {
  border : 1px solid black;
  border-radius: 0px 5px 5px 0px;
  width: 40px;
  padding: 5px;
  cursor: pointer;
}


.category_p {
  text-align: center;
  padding-top: 13px;
  font-size: 18px;
  cursor: pointer;
}

.board_thead {
  text-align: center;
  border-top : 3px solid #d1d1d1;
  border-bottom : 3px solid #d1d1d1;
}

.board_thead tr td {
  font-size: 18px;
  font-weight: bold;
}
.board_tbody tr td {
  font-size: 18px;
}


.write_button {
  padding: 5px;
  background-color: #6b6b6b;
  float: right;
  font-size: 20px;
  color: white;
}
/* .write_button_p {
  font-size: 20px;
  color: white;
}
.write_button_icon {
  width: 10%;
} */

.write_button a {
  color: white;
}

.search_input {
  width: 20%;
  padding: 4px 10px;
  font-size: 16px;
}
.search_button {
  margin-left: 10px;
  padding: 5px;
  font-size: 18px;
  background-color: #2D8CFF;
  color: white;
  /* border: 0px; */
}

.page_btn {
  color: white;
  background-color: gray;
}
.page_btn.active {
  background-color:black;
}
.arrow_icon {
  width: 10px;
}

.new {
    font-size : 18px;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    /* 위 속성들을 한 줄로 표기하기 */
    /* -webkit-animation: blink 1.5s ease infinite; */
  }

  @keyframes blink {
    from {color: white;}
    30% {color: orange;}
    to {color: red; font-weight: bold;}
    /* 0% {color:white;}
    30% {color: yellow;}
    100% {color:red; font-weight: bold;} */
  }

.write_main_title {
  color: black;
  font-size: 30px;
  /* font-weight: bold; */
  margin-bottom: 30px;
}

.write_main_p {
  padding: .75rem 1.25rem;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.title_input {
  font-size: 18px;
  width: 100%;
  padding: .75rem 1.25rem;
  margin-bottom: 30px;
  background-color: rgba(0,0,0,.03);
  border: 0px;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.all_agree input[type="checkbox"] {
  display: none;
}
.all_agree input[type="checkbox"] + label { 
  width: 17px; 
  height: 17px; 
  background: #fa3062; 
  cursor: pointer; 
  border-radius: 3px;
  float: right;
}
/* checkbox가 체크될 경우 라벨도 체크 */
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 1;
    position: relative;
    border-radius: 50%;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
    border-radius: 50%;
  }
}

.option-input {
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  /* top: 13.33333px; */
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.write_textarea {
  width: 100%;
  height: 300px;
  font-size: 16px;
  margin-bottom: 30px;
}

.category_dropdown {
  color : black;
  font-size : 18px;
  font-weight: 600; 
  margin-bottom: 30px; 
}

.detail_header {
  width: 100%;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.detail_header_2 {
  width: 100%;
}

.detail_title_span {
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 0;
  margin: 0;
}

.detail_date_span {
  font-size: 15px;
  padding: 0;
  margin: 0;
  float: right;
}


.detail_name_span {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

.detail_option_span {
  font-size: 15px;
  padding: 0;
  margin: 0;
  float: right;
}

.detail_content {
  margin: 30px 5%;
  min-height: 30vh;
}

.button_board_group {
  text-align: center;
  margin-bottom: 30px;

}

.button_board_group button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 10%;
  padding: 6px 12px;
}
.button_board_list {
  margin-left: 20px;
  background-color: white;
  color: black;
}

.button_board_update {
  margin-left: 20px;
  background-color: blue;
  color: white;
  border: 0;
}

.button_board_delete {
  margin-left: 20px;
  background-color: #DC3545;
  color: white;
  border: 0;
}

.button_board_image {
  width: 20px;
  margin: 5px;
}


.comment_textarea {
  padding: 5px 10px;
  width: 95%;
  min-height: 10vh;
  font-size: 16px;
  font-weight: bold;
  
}

.comment_button {
  width: 5%;
  background-color: black;
  color: white;
  border: 0;
}

.detail_comment  {
  margin: 20px 0px;
}

.comment_image {
  width: 90px;
  margin-right: 10px;
}

.comment_name {
  font-weight: bold;
  font-size: 20px;
}
.comment_value {
  font-size: 16px;
}
.comment_date {
  font-size: 14px;
  color: gray;
  margin-right: 20px;
}
/* 댓글 수정 */
.button_comment_update {
  /* margin-left: 20px; */
  border-radius: 10px;
  background-color: blue;
  color: white;
  border: 0;
}
/* 댓글 삭제 */
.button_comment_delete {
  margin-left: 5px;
  border-radius: 10px;
  background-color: #DC3545;
  color: white;
  border: 0;
}
.arrow_reply_image {
  width: 60px;
  margin: 0 20px;
}

.detail_comment_reply {

}

.write_file {
  margin: 10px 15px;
}